.carousel-item img {
    margin-top: 100px;
    object-fit: contain; 
    height: 600px; 
  }

  

.image-carousel {
    opacity: 1;
    transition: opacity 4s ease-in-out; 
  }
  
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active .image-carousel {
    opacity: 0;
  }
  
  
  .carousel-item {
    position: relative;
  }
  
  .carousel img {
    width: 90vw; /* Ocupa el 90% del ancho del viewport */
    max-width: 90%; /* Asegura que no exceda el 90% */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 auto; /* Centra la imagen dentro del carrusel */
    object-fit: contain; /* Ajusta cómo la imagen se adapta a su contenedor */
  }
  
