.title, .price {
    color: rgb(243, 252, 240);
    width: 100%; 
    max-width: 400px; 
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    letter-spacing: 1px;
  }

  .container-img {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 500px; 
    align-items: center;
    margin: 40px auto;
    font-size: 20px;
    font-family: 'Bebas Neue';
  }

  .image {
    width: 100%; 
    height: auto;
    max-width: 100%; 
    border: 4px solid black;
    border-radius: 10px;
    object-fit: contain; 
  }

  .detalle {
    color: rgb(243, 252, 240);
    position: relative;
    text-decoration: none; 
    font-size: 1.2rem; 
  }
  
  .detalle:hover {
    color: #EDF42F; 
  }
  
  .detalle::after {
    content: "";
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #EDF42F; 
    transition: width 0.3s ease; 
  }
  
  .detalle:hover::after {
    width: 100%;
  }