.title, .price {
    color: rgb(243, 252, 240);
    width: 100%; /* Hacerlo más flexible */
    max-width: 400px; /* Asegúrate de que no crezca demasiado */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    letter-spacing: 1px;
  }

  .container-img {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ajuste para mayor adaptabilidad */
    max-width: 350px; /* Controla el tamaño máximo de la imagen */
    align-items: center;
    margin: 40px auto;
    font-size: 20px;
    font-family: 'Bebas Neue';
  }

  .image {
    width: 100%; 
    height: auto;
    max-width: 100%; /* Asegúrate de que no se desborde */
    border: 4px solid black;
    border-radius: 10px;
    object-fit: contain; /* Mantiene la proporción de la imagen */
  }

  .detalle {
    color: rgb(243, 252, 240);
    position: relative; /* Necesario para el posicionamiento de la pseudo-clase */
    text-decoration: none; /* Eliminar subrayado por defecto */
    font-size: 1.2rem; /* Ajusta el tamaño de fuente */
  }
  
  .detalle:hover {
    color: #EDF42F; /* Cambiar color al hacer hover */
  }
  
  .detalle::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Posicionar la línea justo debajo del texto */
    left: 0;
    width: 0;
    height: 2px; /* Altura de la línea */
    background-color: #EDF42F; /* Color de la línea */
    transition: width 0.3s ease; /* Transición suave para la línea */
  }
  
  .detalle:hover::after {
    width: 100%; /* Expande la línea a 100% al hacer hover */
  }