.loader {
    background-color: rgb(0, 0, 0) !important;
    height: 5px !important;
   
    
}

.loader .MuiLinearProgress-bar {
    background-color: rgb(237, 244, 47) !important; 
    height: 5px !important;
    
}