body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
}

.wrapper {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

main {
  flex: 1; 
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding: 10px 0px;
  width: 100%;
}

.nav h1 {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  margin: 0 50px;
  font-size: 2em;
  color: rgb(243, 252, 240);
  font-weight: 300;  
}



.nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none; 
  padding: 0;
  margin: 0 10px;
  width: fit-content;
  justify-content: center;
}


.nav ul .nav-link {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 1.2em;
  color: #f3fcf0;
  letter-spacing: 0.05em;
  font-weight: 400;
  transition: color 1s ease;
  position: relative;
  margin: 0 10px; 
}

.nav ul .nav-link:hover {
  color: #EDF42F;
  transition: width 0.3s ease;
}


.nav ul .nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #EDF42F;
  transition: width 0.3s ease;
}

.nav ul .nav-link:hover::after {
  width: 100%;
}

/*.greeting {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  font-size: 0.8em;
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: none;
  color: rgb(20, 33, 61);
  background-color: #EDF42F;
}
*/

@media (max-width: 768px) {
  .nav h1 {
    font-size: 2em;
  }
  .nav ul .nav-link {
    font-size: 16px;
  }
  .nav ul {
    justify-content: center;
  }
}

.cantidadCarrito {
  color: rgb(243, 252, 240);
}